/* --------------------------------
*   LOGIN • REGISTER • CONFIRM
*    RESET • VERIFY • FORGOT
-------------------------------- */
.login,
.register,
.confirm,
.reset,
.verify,
.forgot {
    height: fit-content;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        background-color: $table;
        border-radius: 15px;
        overflow: hidden;
        @extend %shadow;

        .form-header {
            background: $gradient;
            color: $h_2;
            font-size: 22px;
            font-weight: 700;
            padding: 30px 45px 25px;
            margin-bottom: 20px;
        }

        .form-body {
            padding: 15px 45px 45px;

            .form-check-input:focus,
            .form-control:focus {
                border-color: $no-gradient;
                box-shadow: 2px 2px 3px 1px $no-gradient;
            }
            input {
                border: 1px solid $btn;
            }

            .button {
                margin-top: 10px;
                padding: 8px 40px;
                border-radius: 15px;
                background: $gradient;
                font-size: 20px;
                border: none;
                color: $text2;
                @extend %shadow;
                &:hover {
                    opacity: 0.85;
                    @extend %shadow2;
                }
            }

            .link {
                color: $no-gradient;
                &:hover {
                    font-weight: 700;
                }
            }
            a.link {
                margin-left: 10px;
                color: $text1;
                &:hover {
                    color: $h_1;
                    font-weight: 500;
                }
            }
        }
    }
}
