/* --------------------------------
            EXTENDE
-------------------------------- */

//? %nomeExtende ~ @extende:
@import './variables';

%shadow {
    box-shadow: 1px 5px 10px rgba($shadow , $alpha);
}

%shadow2 {
    box-shadow: 1px 1px 5px rgba($shadow , $alpha);
}

%button {

    .create {
                        
        a {
            all: unset;
            margin-right: 10px;
            padding: 8px 20px;
            border-radius: 12px;
            border: 3px solid $create;
            font-weight: 400;
            color: $create;
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.3));
            &:hover {
                background-color: $create;
                color: $text2;
            }
        }
    }
}
